*{
    margin: 0;
    padding: 0;
}
.main{
    column-width: 292px;
    -webkit-column-width: 292px;
    -moz-column-width: 292px;
    -o-column-width: 292px;
    -ms-column-width:292px;
    -webkit-column-count: 6;
    column-rule: 2px solid red;
    padding: 15px 0 0 15px;
}
.box{
    float: left;
    padding: 10px 0 0 10px;
}
.pic{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}
.pic img{
    display: block;
    width: 250px;
    height: auto;
}