*{
    margin: 0;
    padding: 0;
}
#pic-1{
    position: absolute;
    left: -110px;
    top: 0;
    width: 120px;
    height: 70px;
    background: url("images/44.gif");
    border: 1px solid gray;
}
#pic-2{
    position: absolute;
    left: 0;
    top: 72px;
    width: 310px;
    height: 330px;
    background: url("images/23.jpg");
    border: 1px solid gray;
    opacity: 0.3;
}

#pic-3{
    position: absolute;
    left: 0;
    top: 404px;
    width: 200px;
    height: 100px;
    background: #a32934;
    border: 1px solid gray;
    opacity: 0.3;
}