*{
    margin: 0;
    padding: 0;
}
#box{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 400px;
    height: 200px;
    border: 2px solid gray;
    border-radius: 10px;
}
#cBox{
    height: 130px;
    overflow: hidden;/*超出部分隐藏*/
}
#header{
    background-color: #d14152;
    border-radius: 8px 8px 0 0;
    padding: 15px;
    color: white;
    font-size: 30px;
    margin-bottom: 5px;/*下方留出一定间距*/
}
#header a{
    float: right;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
#box ul li{
    list-style: none;
}
ul{
    padding: 0 40px;
}
ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #333;
}
ul li a:hover{
    color: red;
}
ul li span{
    font-size: 10px;
    color: #999;
    float: right;
}
#move{
    position: absolute;
    left: 58px;
    top: 330px;
}
#move ul li{
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    list-style: none;
    float: left;
    margin-right: 200px;
    font-family: "Microsoft YaHei";
    cursor: pointer;
}
#move ul li:hover{
    color: #0067bf;
    border-color: #0067bf;
}